.App {
  text-align: center;
}

.container {
  background-color: #330000;
  display: inline-flex;
  flex-flow: row nowrap;
  /* flex-direction: row;
  flex-wrap: nowrap; */
}

.container .number {
  width: 200px;
  height: 100px;
  background-color: #330000;
}

.container .mark {
  width: 100px;
  height: 100px;
  background-color: #990000;
}